src/xsd/EiEnrollment.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--
	 Schemas for the Common Transactive Services
	 
	 Profiled to use Minimal PIM Conformant WS-Calendar, WS-Calendar Streams, Strip GML
		
	 Removed references to VENs, VTNs to leave Common Transactive Services only
	 Removed Targets and related material tied to DR Evants
	 as part of the NIST Open Source Software for Energy Markets using CTS Project
	 Copyright 2019 Toby Considine, TC9, Inc and William T Cox, Cox Software Architects, LLC 
	 
	 Based on OASIS Energy Market Information Exchange (EMIX) Version 1.0 Committee Specification 02 11 January 2012
	 Copyright (c) OASIS Open 2012.  All Rights Reserved.
	 
	 Source: http://docs.oasis-open.org/emix/emix/v1.0/cs02/xsd/
-->
<!-- EIEnrollment.xsd 
Schema agency:     Energy Mashup Lab, NIST CTS OSS Project
Schema version:    0.2
Schema date:       27 September 2019

Set includes:
    EMIX, EMIX-Terms, EMIX-Warrants (emix)
    Power, Power-Warrants, Power-Quality (power)
    Resource (resource)
	SIScale (siscale) 
-->

<!--
	 Schemas for the Common Transactive Services
	 
	 Profiled to use Minimal PIM Conformant WS-Calendar, WS-Calendar Streams, Strip GML
	 Removed references to VENs, VTNs to leave Common Transactive Services only 
     as part of the NIST Open Source Software using CTS Project
	 
	 9 September, 2019 for The Energy Mashup Lab
	 - Toby Considine, TC9, Inc
	 - William T Cox, Cox Software Architects, 
	 
     Based on OASIS Energy Interoperation Version 1.0
     OASIS Standard
     11 June 2014
     Copyright (c) OASIS Open 2014. All Rights Reserved.
     Source: http://docs.oasis-open.org/energyinterop/ei/v1.0/os/xsd/
   -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enrl="http://docs.oasis-open.org/ns/energyinterop/201110/enroll/cts.01" xmlns:ei="http://docs.oasis-open.org/ns/energyinterop/201110/cts.01" xmlns:emix="http://docs.oasis-open.org/ns/emix/2011/06/cts.01" xmlns:resource="http://docs.oasis-open.org/ns/emix/2011/06/power/resource/cts.01" xmlns:xcal="http://docs.oasis-open.org/ws-calendar/ns/min-xcal/2015/12" targetNamespace="http://docs.oasis-open.org/ns/energyinterop/201110/enroll/cts.01">
	<xs:import namespace="http://docs.oasis-open.org/ns/emix/2011/06/cts.01" schemaLocation="emix.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/ns/energyinterop/201110/cts.01" schemaLocation="EIClasses.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/ws-calendar/ns/min-xcal/2015/12" schemaLocation="ws-calendar-min-v1.0.xsd"/>
	<xs:element name="enrollee" type="enrl:EnrolleeType"/>
	<xs:complexType name="EnrolleeType">
		<xs:annotation>
			<xs:documentation>The Party that is enrolling itself.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ei:partyID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="enrl:enrolleeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A string name for the Party</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="resource" type="enrl:ResourceType"/>
	<xs:complexType name="ResourceType">
		<xs:complexContent>
			<xs:extension base="enrl:EnrolleeType">
				<xs:sequence>
					<xs:element ref="emix:emixInterface" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Location, circuit or other information not in emix:Resource</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="eiEnrollment" type="enrl:EiEnrollmentType"/>
	<xs:complexType name="EiEnrollmentType">
		<xs:annotation>
			<xs:documentation>The enrollment of a Facility or Resource or other market participant in a Market Context to participate in Energy Interoperation Services. Market Enrollment is the collection of enrollment or tariff data for a Demand Resource to provide a specific market product or service.  The information differs for different types of enrollment as expressed by the EnrolleeType.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="enrl:applicationDate" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="enrl:effectiveDate" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="enrl:endDate" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="enrl:enrollAdminPartyID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="enrl:enrolleePartyID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="enrl:enrollee" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="enrl:enrolleeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="enrollmentComments" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comments associated with the Enrollment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="enrl:enrollmentID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference ID  of the enrollment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enrollmentName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique name (in some scope) of the enrollment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="emix:itemBase" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The nature of the resource  capability, which varies for different resources. Could be a product definition as well (for Ancillary Services)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="emix:marketContext" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="enrl:performanceEvaluationMethodBase" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="enrl:performanceEvaluationMethodTypeBase" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="enrl:enrollmentStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="enrl:resource" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="enrl:originalEnrollmentID" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="eiEnrollmentResponse" type="enrl:EiEnrollmentResponseType"/>
	<xs:complexType name="EiEnrollmentResponseType">
		<xs:annotation>
			<xs:documentation>Response adding information to handle Enrollment-related messages</xs:documentation>
			<xs:appinfo>EnrollmentResponses require Market Context, original Ref (if available) and new Ref</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ei:EiResponseType">
				<xs:sequence>
					<xs:element ref="enrl:enrollmentID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emix:marketContext" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="ei:originalReferenceID" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="enrollmentResponses" type="enrl:ArrayofEnrollmentResponses"/>
	<xs:complexType name="ArrayofEnrollmentResponses">
		<xs:annotation>
			<xs:documentation>Collection of Enrollment Responses. When an regards multiple referenceable items, each referenced item MAY have its own response.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="enrollmentResponse" type="enrl:EiEnrollmentResponseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="performanceEvaluationMethodBase" type="enrl:PerformanceEvaluationMethodBaseType"/>
	<xs:complexType name="PerformanceEvaluationMethodBaseType" abstract="true">
		<xs:annotation>
			<xs:documentation>Base for specific extensions detailing Method used to Evaluate the Performance of a Resource. For IRC, based on NAESB M&amp;V terms.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="performanceEvaluationMethodTypeBase" type="enrl:PerformanceEvaluationMethodTypeBaseType"/>
	<xs:complexType name="PerformanceEvaluationMethodTypeBaseType" abstract="true">
		<xs:annotation>
			<xs:documentation>Base for IRC, a code representing the Type of Measurement used in performance evaluation. The itemBase does this for simple measurements.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="enrollmentStatus" type="enrl:EnrollmentStatusType"/>
	<xs:simpleType name="EnrollmentStatusType">
		<xs:annotation>
			<xs:documentation>Status of Enrollment.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="enrl:EnrollmentStatusEnumeratedType ei:EiExtensionTokenType"/>
	</xs:simpleType>
	<xs:simpleType name="EnrollmentStatusEnumeratedType">
		<xs:annotation>
			<xs:documentation>Enumerated Status of Enrollment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="pendingEnrollment"/>
			<xs:enumeration value="approvedEnrollment"/>
			<xs:enumeration value="underReview"/>
			<xs:enumeration value="denied"/>
			<xs:enumeration value="separated"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="enrolleeType" type="enrl:EnrolleeTypeType"/>
	<xs:simpleType name="EnrolleeTypeType">
		<xs:annotation>
			<xs:documentation>An enumerated value that gives the type of report being provided.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="enrl:EnrolleeEnumeratedType ei:EiExtensionTokenType"/>
	</xs:simpleType>
	<xs:simpleType name="EnrolleeEnumeratedType">
		<xs:annotation>
			<xs:documentation>The Type of Entity being enrolled.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="aggregator"/>
			<xs:enumeration value="consumer"/>
			<xs:enumeration value="distribution"/>
			<xs:enumeration value="resource"/>
			<xs:enumeration value="enrollingAuthority"/>
			<xs:enumeration value="generator"/>
			<xs:enumeration value="lse"/>
			<xs:enumeration value="market"/>
			<xs:enumeration value="meterAuthority"/>
			<xs:enumeration value="schedulingEntity"/>
			<xs:enumeration value="serviceProvider"/>
			<xs:enumeration value="supplier"/>
			<xs:enumeration value="systemOperator"/>
			<xs:enumeration value="tdsp"/>
			<xs:enumeration value="transmission"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="applicationDate" type="xcal:DateTimeType">
		<xs:annotation>
			<xs:documentation>Date of Termination of Enrollment </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="effectiveDate" type="xcal:DateTimeType">
		<xs:annotation>
			<xs:documentation>Effective Start Date for the Enrollment (when successful)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="endDate" type="xcal:DateTimeType">
		<xs:annotation>
			<xs:documentation>Date of Termination of Enrollment </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="enrollAdminPartyID" substitutionGroup="ei:actorID"/>
	<xs:element name="enrolleePartyID" substitutionGroup="ei:actorID"/>
	<xs:element name="originalEnrollmentID" substitutionGroup="ei:refID"/>
	<xs:element name="enrollmentID" substitutionGroup="ei:refID"/>
</xs:schema>
