src/xsd/power-quality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	 Schemas for the Common Transactive Services
	 
	 Profiled to use Minimal PIM Conformant WS-Calendar, WS-Calendar Streams, Strip GML
		
	 Removed references to VENs, VTNs to leave Common Transactive Services only
	 Removed Targets and related material tied to DR Evants
	 as part of the NIST Open Source Software for Energy Markets using CTS Project
	 Copyright 2019 Toby Considine, TC9, Inc and William T Cox, Cox Software Architects, LLC 
	 
	 Based on OASIS Energy Market Information Exchange (EMIX) Version 1.0 Committee Specification 02 11 January 2012
	 Copyright (c) OASIS Open 2012.  All Rights Reserved.
	 
	 Source: http://docs.oasis-open.org/emix/emix/v1.0/cs02/xsd/
-->
<!-- power-quality.xsd 
Schema agency:     Energy Mashup Lab, NIST CTS OSS Project
Schema version:    0.2
Schema date:       27 September 2019

Set includes:
    EMIX, EMIX-Terms, EMIX-Warrants (emix)
    Power, Power-Warrants, Power-Quality (power)
    Resource (resource)
	SIScale (siscale) 
-->
<xs:schema xmlns:power="http://docs.oasis-open.org/ns/emix/2011/06/power/cts.01" xmlns:emix="http://docs.oasis-open.org/ns/emix/2011/06/cts.01" xmlns:strm="http://docs.oasis-open.org/ws-calendar/ns/streams/201606" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://docs.oasis-open.org/ns/emix/2011/06/power/cts.01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="power.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/ns/emix/2011/06/cts.01" schemaLocation="emix.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/ws-calendar/ns/streams/201606" schemaLocation="ws-calendar-streams-v1.0.xsd"/>
	<!-- 6.0 Power Quality Warrant -->
	<xs:element name="powerQualityWarrant" type="power:PowerQualityWarrantType" substitutionGroup="emix:qualityWarrant"/>
	<xs:complexType name="PowerQualityWarrantType" mixed="false">
		<xs:annotation>
			<xs:documentation>A Power Quality Warrant asserts or requires that the power be of a certain quality or better. This type extends the EMIX Quality Warrant for use in describing power. The Power Quality Warrant is a collection of the most commonly used Quality Measurements. Users who require a Quality Measure not on this list can extend the Quality Measure Type to create new Quality Measures. Note: Quality Measure can be applied EITHER in the intervals of the schedule in emixBase inherited from the emix:QualityWarrant OR in external to the Intervals, but not both..</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="emix:QualityWarrantType">
				<xs:sequence>
					<xs:element ref="emix:uid" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="power:measurementProtocol" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="power:qualityType" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emix:side" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="power:qualityMeasure" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 6.1 Quality Measurements -->
	<xs:element name="qualityMeasure" type="power:QualityMeasureType"/>
	<xs:complexType name="QualityMeasureType" mixed="false">
		<xs:annotation>
			<xs:documentation>Quality Measure is a collection of Power Quality Indicators. The Quality Measure is placed in a WS-Calendar Artifact so it can populate a schedule. Note: Quality Measure can be applied EITHER in the intervals of the schedule in emixBase inherited from the emix:QualityWarrant OR in external to the Intervals, but not both.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="strm:StreamPayloadBaseType">
				<xs:sequence>
					<xs:element name="qualities" type="power:ArrayOfQualityIndicators"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 6.2 Power Quality Indicators-->
	<xs:element name="basePowerQualityIndicator" type="power:BasePowerQualityIndicatorType" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract extension object for Power Qualities</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ArrayOfQualityIndicators">
		<xs:annotation>
			<xs:documentation>Collection of Power Qualities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="power:basePowerQualityIndicator" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasePowerQualityIndicatorType" abstract="true">
		<xs:annotation>
			<xs:documentation>An identification of the standard or other protocol used to measure power quality. Sets definition for all other power attributes. Type of Abstract extension object  for Power Qualities</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<!-- 6.3 Defined Power Qualities -->
	<xs:element name="powerFrequency" type="power:PowerFrequencyType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="supplyVoltageVariations" type="power:SupplyVoltageVariationsType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="rapidVoltageChanges" type="power:RapidVoltageChangesType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="flickerSt" type="power:FlickerStType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="flickerLt" type="power:FlickerLtType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="supplyVoltageDips" type="power:SupplyVoltageDipsType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="shortInterruptions" type="power:ShortInterruptionsType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="longInterruptions" type="power:LongInterruptionsType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="temporaryOvervoltage" type="power:TemporaryOvervoltageType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="supplyVoltageImbalance" type="power:SupplyVoltageImbalanceType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="harmonicVoltage" type="power:HarmonicVoltageType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="mainsVoltage" type="power:MainsVoltageType" substitutionGroup="power:basePowerQualityIndicator"/>
	<xs:element name="mainsSignallingVoltage" type="power:MainsSignallingVoltageType" substitutionGroup="power:basePowerQualityIndicator"/>
	<!-- 6.4 Defines Power Quality Measuress -->
	<xs:complexType name="PowerFrequencyType" mixed="false">
		<xs:annotation>
			<xs:documentation>measured Power frequency, e.g. 50.4, 59.9, measured as per referenced measurement protocol. 0 for DC
					</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="frequency" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SupplyVoltageVariationsType" mixed="false">
		<xs:annotation>
			<xs:documentation>count of Supply Voltage Variations during the period, measured as per referenced measurement protocol
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="count" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RapidVoltageChangesType" mixed="false">
		<xs:annotation>
			<xs:documentation>count of Rapid Voltage Changes during the period, measured as per referenced measurement protocol
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="count" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlickerLtType" mixed="false">
		<xs:annotation>
			<xs:documentation>A measurement of Long Term Rapid Voltage Change. The actual periods for measurement are defined in the measurement protocol documents.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="flickerPLt" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlickerStType" mixed="false">
		<xs:annotation>
			<xs:documentation>A measurement of Short Term Rapid Voltage Change. The actual periods for measurement are defined in the measurement protocol documents.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="flickerPSt" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SupplyVoltageDipsType" mixed="false">
		<xs:annotation>
			<xs:documentation>Count of Supply Voltage Dips during the period, measured as per referenced measurement protocol
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="count" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShortInterruptionsType" mixed="false">
		<xs:annotation>
			<xs:documentation>Count of Short Interruptions during the period, measured as per referenced measurement protocol
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="count" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LongInterruptionsType" mixed="false">
		<xs:annotation>
			<xs:documentation>Count of Long Interuptions during the period, measured as per referenced measurement protocol
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="count" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TemporaryOvervoltageType" mixed="false">
		<xs:annotation>
			<xs:documentation>Count of Temporary Overvoltage Events during the period, measured as per referenced measurement protocol
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="count" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SupplyVoltageImbalanceType" mixed="false">
		<xs:annotation>
			<xs:documentation>count of Supply Voltage Imbalance events during the period,  measured as per referenced measurement protocol. Not meaningful for DC.
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="count" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HarmonicVoltageType" mixed="false">
		<xs:annotation>
			<xs:documentation>Harmonic Voltage during the period, measured as per referenced measurement protocol. For DC, distortion is with respect to a signal of 0 Hz, 	The period is usually much shorter than other power quality measures.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="voltage" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MainsVoltageType" mixed="false">
		<xs:annotation>
			<xs:documentation>Mains Voltage. Nominal value, e.g, 110, 130, 220, 208. See referenced measurement protocol for definition.
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="voltage" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MainsSignallingVoltageType" mixed="false">
		<xs:annotation>
			<xs:documentation>A number indicating Mains Signaling Voltage, relating generally to power line communications systems.
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="power:BasePowerQualityIndicatorType">
				<xs:sequence>
					<xs:element name="voltage" type="xs:float"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 6.9 Quality Enumerations -->
	<xs:element name="qualityType" type="power:QualityTypeType"/>
	<xs:simpleType name="QualityTypeType">
		<xs:union memberTypes="power:QualityTypeEnumeratedType emix:EmixExtensionType"/>
	</xs:simpleType>
	<xs:simpleType name="QualityTypeEnumeratedType">
		<xs:annotation>
			<xs:documentation>A string indicating the type of Assertion being made</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="guaranteed"/>
			<xs:enumeration value="averaged"/>
			<xs:enumeration value="projected"/>
			<xs:enumeration value="measured"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="measurementProtocol" type="power:MeasurementProtocolType"/>
	<xs:simpleType name="MeasurementProtocolType">
		<xs:union memberTypes="power:MeasurementProtocolEnumeratedType emix:EmixExtensionType"/>
	</xs:simpleType>
	<xs:simpleType name="MeasurementProtocolEnumeratedType">
		<xs:annotation>
			<xs:documentation>An identification of the standard or other protocol used to measure power quality. Sets definition for all other power attributes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EN 50160"/>
			<xs:enumeration value="IEEE 1549-2009"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
