src/xsd/ws-calendar-streams-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com)-->
<!--
	Schemas for the Common Transactive Services
		 
	Profiled to use Minimal PIM Conformant WS-Calendar, WS-Calendar Streams, Strip GML
	Removed references to VENs, VTNs to leave Common Transactive Services only 
	as part of the NIST Open Source Software using CTS Project
		 
	Copyright 2019 Toby Considine, TC9, Inc and William T Cox, Cox Software Architects 
		 
	Based on WS-Calendar Platform Independent Model (PIM) Version 1.0 Committee Specification 02 21 August 2015
	Copyright (c) OASIS Open 2015. All Rights Reserved.
	Source: https://docs.oasis-open.org/ws-calendar/ws-calendar-pim/v1.0/ws-calendar-pim-v1.0.html and 
		https://docs.oasis-open.org/ws-calendar/ws-calendar-pim/v1.0/csprd04/xmi/PIM.xml
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:strm="http://docs.oasis-open.org/ws-calendar/ns/streams/201606" targetNamespace="http://docs.oasis-open.org/ws-calendar/ns/streams/201606" elementFormDefault="qualified">
	<xs:element name="intervals" type="strm:ArrayofStreamIntervals"/>
	<xs:complexType name="ArrayofStreamIntervals">
		<xs:annotation>
			<xs:documentation>Collection of Stream Interval derived elements that comprise a signal partition.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="strm:streamInterval" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="streamInterval" type="strm:StreamIntervalType" abstract="true"/>
	<xs:complexType name="StreamIntervalType" abstract="true" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">Restricted variant of ws-calendar interval for streams. Stream Intervals are restricted expressions of the WS-Calendar Interval that are transformable to but not identical to WS-Calendar Intervals.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="strm:uid" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="strm:streamPayloadBase" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="streamPayloadBase" type="strm:StreamPayloadBaseType" abstract="true"/>
	<xs:complexType name="StreamPayloadBaseType" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract class to convey a payload for a stream. When a Stream is transformed to or from a WS-Calendar Interval, the contents of the Stream Payload defined element are transformed into the contents of a WS-Calendar artifactBase.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="uid" type="strm:UidType"/>
	<xs:simpleType name="UidType">
		<xs:annotation>
			<xs:documentation>Unique Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
