Sample Resources/xsd/ws-calendar-min-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	 Schemas for the Common Transactive Services
	 
	 Profiled to use Minimal PIM Conformant WS-Calendar, WS-Calendar Streams, Strip GML
		
	 Imported to GitHub for Project purposes.
-->
<!-- 
WS-Calendar Minimal PIM-Conformant Schema Version 1.0 Committee Specification 01 26 September 2016 
Copyright (c) OASIS Open 2016. All Rights Reserved. 
Source:	http://docs.oasis-open.org/ws-calendar/ws-calendar-min/v1.0/cs01/schema/ 
Latest version of the specification: http://docs.oasis-open.org/ws-calendar/ws-calendar-min/v1.0/ws-calendar-min-v1.0.html 
TC IPR Statement: https://www.oasis-open.org/committees/ws-calendar/ipr.php -->
<!--WS-Calendar-MIN-v1.0, a minimal PIM-conformant schema expressing the relationships described in the WS-Calendar PIM UML.-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:min="http://docs.oasis-open.org/ws-calendar/ns/min-xcal/2015/12" targetNamespace="http://docs.oasis-open.org/ws-calendar/ns/min-xcal/2015/12">
	<xs:element name="vAvailability" type="min:VAvailabilityType"/>
	<xs:complexType name="VAvailabilityType">
		<xs:annotation>
			<xs:documentation>Advertises when a seriSee [Vavailability]  C. Daboo, M. Douglass, Calendar Availability, http://tools.ietf.org/search/draft-daboo-calendar-availability-05, IETF Internet Draft Version 05, January 30, 2014</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="min:busyType" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="min:timeRange" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>timeRange is the time interval that is busy and described by this Vavailability object. Per the Internet Draft, this can be specified with or without a start. Duration may be included only if dtStart is present. Timezone is irrelevant if dtStart is not defined and SHOULD NOT be present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="min:granularity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The uniform size or granularity of the description for availabile times associated with this VAvailability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="min:availability" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="min:comment" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="availability" type="min:AvailabilityType"/>
	<xs:complexType name="AvailabilityType">
		<xs:annotation>
			<xs:documentation>A pattern of recurring intervals</xs:documentation>
			<xs:appinfo>See [Vavailability]  C. Daboo, M. Douglass, Calendar Availability, http://tools.ietf.org/search/draft-daboo-calendar-availability-05, IETF Internet Draft Version 05, January 30, 2014 rrules (Recurrence Rules) - see RFC 5545     3.8.5.3 RFC 6321     3.8.5.3 By implication all time periods in the Vavailability are busy; this specifies which are free.</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="min:availabilityInterval" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="min:recurrence" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="timeRange" type="min:TimeRangeType"/>
	<xs:complexType name="TimeRangeType">
		<xs:annotation>
			<xs:documentation>Used in: Availability::Vavailability for the time interval addressed, which may have dtStart defined (optional), and duration (optional, present only if dtStart is present). This allows expression for "all time", "all time from this start DateTime", and "a specified interval". See [Vavailability]  C. Daboo, M. Douglass, Calendar Availability, http://tools.ietf.org/search/draft-daboo-calendar-availability-05, IETF Internet Draft Version 05, January 30, 
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="min:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="min:duration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Optional. May be present ONLY if dtStart is present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="min:timeZone" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The absense of tZ does not imply UTC. UTC must be explicitly stated.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="availabilityInterval" type="min:AvailabilityIntervalType"/>
	<xs:complexType name="AvailabilityIntervalType">
		<xs:annotation>
			<xs:documentation>This class is fully bound, and therefore includes explicit times for both dtStart and duration.</xs:documentation>
			<xs:appinfo>See RFC 5545 and Internet Draft 5 for Vavailability. Used in: Availability::Vavailability for the time interval addressed Availability::AvailabilityType to</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="min:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="min:duration" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="min:timeZone" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The absense of tZ does not imply UTC. UTC must be explicitly stated.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="busyType" type="min:BusyTypeType"/>
	<xs:simpleType name="BusyTypeType">
		<xs:annotation>
			<xs:documentation>To express Busy, BusyTentative, and Free.

Reference:
RFC 5545     3.2.9
RFC 6321     3.2.9</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="busy"/>
			<xs:enumeration value="busyUnavailable"/>
			<xs:enumeration value="busyTentative"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="recurrence" type="min:RecurrenceType"/>
	<xs:complexType name="RecurrenceType">
		<xs:annotation>
			<xs:documentation>The Recurrence Type consists of a seed date or date-time, rules to compute compute off-sets of that seed date, an optional end or final boundary to the series, optional inclusions for specifc datesand optional exclusions, i.e., dates to be skipped. </xs:documentation>
			<xs:appinfo>See RFC 5545 section 3.3.10 for a discussion.</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="min:dtStart" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="min:recurrenceRule" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="min:dtEnd" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="min:rDate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="min:exDate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="recurrenceRule" type="min:RecurrenceRuleType"/>
	<xs:complexType name="RecurrenceRuleType">
		<xs:annotation>
			<xs:documentation>The Recurrence Rule Type is a name value pair consisting of Rule Part and Rule Values. </xs:documentation>
			<xs:appinfo>The legal values for each Rule Part are specifed in RFC5545. There is no rule specifying the order for serializing rules; in whaterver order they appear, they must be processed in the order specified for processing rule parts in RFC5545.See RFC 5545 section 3.3.10 for a discussion.</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="min:recurRulePart" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="min:recurRuleValues" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="recurRulePart" type="min:RecurRulePartType"/>
	<xs:simpleType name="RecurRulePartType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="FREQ">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNTIL">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COUNT">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INTERVAL">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYSECOND">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYMINUTE">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYHOUR">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYDAY">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYMONTHDAY">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYYEARDAY">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYWEEKNO">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYMONTH">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BYSETPOS">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WKST">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="recurRuleValues" type="min:RecurRuleValuesType"/>
	<xs:simpleType name="RecurRuleValuesType">
		<xs:annotation>
			<xs:documentation>Either a single value or set of values for the recurRulePart. The range of legal values varies with the value of the recurRulePart as defined in RFC 5545</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="granularity" type="min:DurationType">
		<xs:annotation>
			<xs:documentation/>
			<xs:documentation>The uniform size or granularity of the a set of [intervals].</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="duration" type="min:DurationType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="DurationType">
		<xs:annotation>
			<xs:documentation>An ISO 8601  Conformed String Using Basic Format or Extended Format (8601 4.4.3) with the optional sign as required in RFC 5545 and RFC 6321 Section 3.3.6. When used for Tolerance, the sign MUST be absent. DurationType includes all 8601 conformed string values (of which xCal and XSD contain restricted but differing sets).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="rDate" type="min:DateTimeDateType">
		<xs:annotation>
			<xs:documentation>Recurrence Date. As well as generating recurrences by rule, one can name a set of recurrences. A Recurrence object may contain both RRules and RDates</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="exDate" type="min:DateTimeDateType">
		<xs:annotation>
			<xs:documentation>Exception or Excluded date in a series</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dtEnd" type="min:DateTimeDateType"/>
	<xs:element name="dtStart" type="min:DateTimeDateType"/>
	<xs:complexType name="DateTimeDateType">
		<xs:annotation>
			<xs:documentation>A Conformed String Using which expressing a DateTime OR a Date OR a Time</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="min:date" maxOccurs="1"/>
			<xs:element ref="min:time" maxOccurs="1"/>
			<xs:element ref="min:dateTime" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="date" type="min:DateType"/>
	<xs:simpleType name="DateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:element name="time" type="min:TimeType"/>
	<xs:simpleType name="TimeType">
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:element name="dateTime" type="min:DateTimeType"/>
	<xs:simpleType name="DateTimeType">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:element name="comment" type="min:CommentType">
		<xs:annotation>
			<xs:documentation>Freeform comment annotating this artifact.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="CommentType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="timeZone" type="min:InstanceUidType">
		<xs:annotation>
			<xs:documentation>A set of constrained strings that identify local time rules.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="InstanceUidType">
		<xs:annotation>
			<xs:documentation>UID of this object instance. The entire context may need to be expressed for a truly universal ID.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
